################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CGS-CIMB_TechnicalTest/v16/Server/sqlite3
